.controles {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 8px;
    padding-left: 40px;
  }
  
  .numero {
    width: 15px;
    margin: 0px;
    text-align: center;
  }
  
  .contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .alineadoControlyStock {
    color: black;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-size: 12px;
    gap: 20px;
  }
  
  .stock {
    margin: 0;
  }
  
  .boton {
    color: #090909;
    padding: 10px 15px;
    font-size: 10px;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
  }
  
  .CartBtn {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(201, 162, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px; 
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    font-size: 1.04em;
    font-weight: 600;
    margin-top: 10px;
  }
